# --- AMBIENTE VIRTUAL E PYTHON ---
venv/
.venv/
env/
**/__pycache__/
*.py[cod]
*$py.class

# --- DOCKER E BANCO DE DADOS (Adicione estas linhas!) ---
# Ignora a pasta de dados persistentes do PostgreSQL
postgres_data/

# Ignora qualquer arquivo de configuração de ambiente local
.env

# --- ARQUIVOS DE MÍDIA E ESTÁTICOS ---
# (Opcional) Se você não quiser subir fotos enviadas por usuários
# media/

# --- BANCO DE DADOS ANTIGO (SQLite) ---
*.sqlite3
*.sqlite3-journal

# --- IDEs E SISTEMA ---
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db